<%= provide(:title, 'Home') %>

<section class="head-cover" id="cover">
	<div class="container-fluid" id="hero">
		<div class="row">
			<h1>Chocolates with amazing insides</h1>
		</div>
		<div class="row">
			<p class="col-md-6 col-md-offset-3">Each and every chocolate made by Likmi has a wonder filling inside that you just can't resist</p>
		</div>
		<div class="row">
			<button type="button" class="round-button" id="scroll-button"><i class="fa fa-angle-down"></i></button>
		</div>
	</div>
</section>

<section id="second">
	<div class="row center-block">
		<div class="col-md-4">
			<%= image_tag "placeholder.svg", class:"img-circle" %>
			<div class="row">
				<h3>item 1</h3>
			</div>
			<div class="row">
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent malesuada erat vitae nibh volutpat.</p>
			</div>
		</div>
		<div class="col-md-4">
			<%= image_tag "placeholder.svg", class:"img-circle" %>
			<div class="row">
				<h3>item 2</h3>
			</div>
			<div class="row">
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent malesuada erat vitae nibh volutpat.</p>
			</div>
		</div>
		<div class="col-md-4">
			<%= image_tag "placeholder.svg", class:"img-circle" %>
			<div class="row">
				<h3>item 3</h3>
			</div>
			<div class="row">
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent malesuada erat vitae nibh volutpat.</p>
			</div>
		</div>
	</div>
</section>