/* header */
header {
	background: none;
	position: absolute;
	top: 60px;
	z-index: 4;
}

.container-fluid {
	max-width: 940px;
}

.icon-bar {
	background-color: #ffffff;
}

.navbar-brand {
	font-size: 23px;
	font-family: "Open Sans", sans-serif;
	font-weight: 800;
	color: #3d0f0f;
	&:hover {
		color: #3d0f0f;
	};
}
.nav > li {
	margin-left: 90px;
	a {
		font-family: "Open Sans", sans-serif;
		font-size: 17px;
		font-weight: 700;
		color: #ffffff;
		&:hover {
			background-color: transparent;
			color: #b2b2b2;
		}
	}
}


/* Body */


.head-cover {
	width: 100%;
	height: 100vh;
	margin-top: -72px;
	background-image: url(image_path('banner.jpg'));
	z-index:initial;
}

.second {
	width: 100%;
	height: 100vh;
	z-index: initial;
	background-color: #243f86;
}


 /* temporary body variable for clarity */
 body {
 	background-color: #e8e8e8;
 }
